[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg = "*"
moviepy = "*"
pyyaml = "*"
opencv-python-headless = "*"
pillow = "==9.5.0"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
aiofiles = "*"
numpy = "*"
ffmpeg-python = "*"
scipy = "*"
decorator = "==4.4.2"
imageio-ffmpeg = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.11"
